<%= form_with(model: device_type, local: true) do |form| %>
  <% if device_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device_type.errors.count, "error") %> prohibited this device_type from being saved:</h2>

      <ul>
      <% device_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
