<%= form_with(model: lab_rack, local: true) do |form| %>
  <% if lab_rack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lab_rack.errors.count, "error") %> prohibited this lab_rack from being saved:</h2>

      <ul>
      <% lab_rack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
