<p id="notice"><%= notice %></p>

<h1>Lab Racks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @lab_racks.each do |lab_rack| %>
      <tr>
        <td><%= lab_rack.name %></td>
        <td><%= lab_rack.description %></td>
        <td><%= link_to 'Configure', lab_rack %></td>
        <td><%= link_to 'Edit', edit_lab_rack_path(lab_rack) %></td>
        <td><%= link_to 'Destroy', lab_rack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lab Rack', new_lab_rack_path %>
