<p id="notice"><%= notice %></p>

<h1>Lab Scenarios</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labs.each do |lab| %>
      <tr>
        <td><%= lab.name %></td>
        <td><%= lab.description %></td>
        <td><%= link_to 'Restore', lab_rack_lab_restore_path(:lab_rack_id => params[:id], :lab_id => lab.id) %></td>
        <td><%= link_to 'Configure / View', lab_rack_lab_path(:lab_rack_id => params[:id], :id => lab.id) %></td>
        <td><%= link_to 'Edit', edit_lab_rack_lab_path(:lab_rack_id => params[:id], :id => lab.id) %></td>
        <td><%= link_to 'Destroy', lab_rack_lab_path(:lab_rack_id => params[:id], :id => lab.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Configure VMWare Devices', lab_rack_vmware_devices_path(params[:id]) %><br/>
<%= link_to 'Configure Cisco IOS Devices', lab_rack_devices_path(params[:id]) %><br/>
<%= link_to 'Configure Lab Scenarios', lab_rack_labs_path(params[:id]) %>
<br/>
<%= link_to 'Edit', edit_lab_rack_path(@lab_rack) %> |
<%= link_to 'Back', lab_racks_path %>
