<p id="notice"><%= notice %></p>

<h1>Vmware Device Labs</h1>

<table>
  <thead>
    <tr>
      <th>Vmware device</th>
      <th>Lab</th>
      <th>Snapshot name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vmware_device_labs.each do |vmware_device_lab| %>
      <tr>
        <td><%= vmware_device_lab.vmware_device_id %></td>
        <td><%= vmware_device_lab.lab_id %></td>
        <td><%= vmware_device_lab.snapshot_name %></td>
        <td><%= link_to 'Show', vmware_device_lab %></td>
        <td><%= link_to 'Edit', edit_vmware_device_lab_path(vmware_device_lab) %></td>
        <td><%= link_to 'Destroy', vmware_device_lab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vmware Device Lab', new_vmware_device_lab_path %>
