<p id="notice"><%= notice %></p>

<h1>Labs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labs.each do |lab| %>
      <tr>
        <td><%= lab.name %></td>
        <td><%= lab.description %></td>
        <td><%= link_to 'Restore', "/" %></td>
        <td><%= link_to 'Configure / View', lab_rack_lab_path(:id => lab.id) %></td>
        <td><%= link_to 'Edit', edit_lab_rack_lab_path(:id => lab.id) %></td>
        <td><%= link_to 'Destroy', lab_rack_lab_path(:id => lab.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lab', new_lab_rack_lab_path %><br/>
<%= link_to 'Back to Lab Rack', lab_racks_path %>
