<p id="notice"><%= notice %></p>

<p>
  <strong>Vm name:</strong>
  <%= @vmware_device.vm_name %>
</p>

<p>
  <strong>Datacenter name:</strong>
  <%= @vmware_device.datacenter_name %>
</p>

<p>
  <strong>Vsphere host:</strong>
  <%= @vmware_device.vsphere_host %>
</p>

<p>
  <strong>Username:</strong>
  <%= @vmware_device.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @vmware_device.password %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vmware_device.description %>
</p>

<%= link_to 'Edit', edit_lab_rack_vmware_device_path(@vmware_device) %> |
<%= link_to 'Back', lab_rack_vmware_devices_path %>
